body {
  background-color: #363434;
  color: beige;

}

section {
  padding: 10rem;

}

.about-hero-section-container {
  background-image: url(../images/code2.jpg);
  object-fit: cover;
  object-position: 50% 50%;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;

}

.about-hero-section-container div {
  flex: 2;
  font-size: 4rem;
}

.about-hero-section-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin: 1rem 0;
  padding: 0;
}

.about-hero-section-container ul li {
  padding-right: 2rem;
}


.jarallax-container-section {

 
  
}

.jarallax-container {
  
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
}

.text-info-jarallax {
  color: #363434;
}

.jara-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jara-text-one {
  flex: 1;
  padding: 0 2rem 0 0;
  font-size: 2rem;
}

.jara-text-two {
  flex: 1;
  padding: 0 0 0 10rem;
}

.jarallax-img {
  background-image: url(../images/bitmap.jpg);
  object-fit: cover;
  object-position: 50% 50%;
  max-width: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120%;
  pointer-events: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  margin-top: 520.191px;
  margin-left: 2rem;
  margin-right: 2rem;
  transform: translate3d(0px, -718.812px, 0px);
}







.circle-section {
  padding-top: 5rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.about-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
}

.circle-container {
  margin: auto;
}

.circle {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  max-width: 530px;
  background-image: url(../images/code2.jpg);

  background-color: #000;
  opacity: 0.7;
}

.film {
  background: rgb(9, 9, 9);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.film .film-text-container {
  position: relative;
  padding: 4rem;
}

.film-text-container .text {

  margin: auto;
  max-width: 275px;
  color: rgb(237, 252, 218);
}

.text span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: rem;
  font-weight: 600;
}

.text h2 {
  font-size: 3rem;
  display: block;
  text-align: center;

}


/* our services */
.our-services-card {
  height: 100%;
  background-color: rgb(231, 227, 227);
  margin: 1.5rem;
  padding: .7rem 1.2rem;
  border-radius: 2rem;
}