body{
  
  font-family: poppins,Arial, Helvetica, sans-serif;
 
}
header.masthead {
  position: relative;
  
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #c7c9cb;
  background-size: cover;
  background-attachment: scroll;
  background-image:linear-gradient(rgba(22,22,22,0.5), rgba(22,22,22,0.5)), url(../images/contact-bg.jpg);
}
/* header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
} */
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: #f1f2f4;
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 3rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading h1, header.masthead .post-heading .h1 {
  font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .page-heading .subheading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.75rem 0 2rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta a {
  color: #faf6f6;
  display: block;
}
main .container p {
  margin: 2rem 0;
  font-size: 20px;
  font-family: poppins;
}

#my-body .form-floating input ,#my-body .form-floating textarea {
  border: none;
  border-bottom: 1px solid rgb(191, 187, 187);
  border-radius: 0;
  margin-bottom: 2rem;
  box-shadow: none ;
  font-size: 20px;
  
}
