.container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-cards-container{
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.team-card{
  width: 15rem;
  height: fit-content;
  border-radius: 2rem;
  background-color: #cac5c5;;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  padding: 2rem 1rem;
}
.team-card:nth-child(odd){
  
}
.image{
  height: 5rem;
  width: 5rem;
  background-color: rgb(255, 253, 253);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rainbow {
  animation: colorchange 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes colorchange {
  0% {
    background: #b29999;
  }
  14% {
    background: #cecdcc;
  }
  28% {
    background: #898988;
  }
  42% {
    background: #5e5e5e;
  }
  56% {
    background: #363637;
  }
  70% {
    background: #262627;
  }
  84% {
    background: #0a0a0a;
  }
  100% {
    background: #070707;
  }
}
.image img{
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 50%;

}
.team-card-info ul{
  list-style: none;
  
  
}
.team-card-info ul li{
  text-align: center;
}
.team-card-info ul li:nth-child(3){
  font-size: 0.5rem;
}
.team-card-info ul li:nth-child(1){
  font-size: 1.5rem;
}

.container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.board-members{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.member{
  width: 15rem;
  height: 10rem;
  background-color: wheat;
}







